<template name="layout">

  {{>header}}


  <div class="container">
    <div id="main" class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        {{> yield}}

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        {{> notifications}}
        {{> errors}}
        <div class="well">
          <h4>Blog Search</h4>
          <div class="input-group">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
          </div>
        </div>
        <div class="well">
          <h4>Posts <small><span class="text-danger glyphicon glyphicon-arrow-up"></span></small></h4>
          {{> popularPosts}}
        </div>
        <div class="well">
          <h4>Categories <small><span class="text-danger glyphicon glyphicon-arrow-up"></span></small></h4>
          {{> popularCategories}}
        </div>
      </div>

    </div>
  </div>
  {{>footer}}
</template>