<template name="layout">

  {{>header}}
  {{> errors}}
  {{> notifications}}
  <div class="container">


   <!-- <div class="row">
      <div class="col-md-offset-8 col-md-4">
        {{> notifications}}
      </div>
    </div>-->


    <div id="main" class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        {{> yield}}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">

        <div class="well">
          <h4>Blog Search</h4>

          <div class="input-group">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /well -->
        <div class="well">
          <h4>Popular Blog Categories</h4>
          {{> popularCategories}}
        </div>
        <!-- /well -->
        <div class="well">
          <h4>Side Widget Well</h4>
          <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
        </div>
        <!-- /well -->
      </div>

    </div>
  </div>
  {{>footer}}
</template>