<template name="notifications">
  <div id="notifications">
          {{#if notificationCount}}
            {{#each notifications}}
            {{> notification}}
            {{/each}}
          {{/if}}
  </div>
</template>

<template name="notification">
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <p><img class="img-rounded alert-photo" src="{{commenter.name}}"></p>
    <p><strong>{{commenter.name}}</strong> commented on your post</p>
    <p><a class="btn btn-warning btn-sm" href="{{notificationPostPath}}">Go!!</a></p>
  </div>
</template>