<template name="category">
  <div class="well">
    <h4>Category</h4>
    <div class="btn-group">
      <button type="button" class="btn btn-default {{activeRouteClass 'categoryList'}}" >{{currentCategory}}</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        {{#each popularList}}
        <li><a href="/category/{{_id}}" class="setCategory">{{body}} <small>{{postIds.length}}</small></a></li>
        {{/each}}
      </ul>
    </div>

  </div>
</template>