<template name="chats">
  <div class="well" id="chats">
    <h4><i class="fa fa-comments-o"></i> mini Message</h4>




    <!--<div class="text-center"><a class="btn btn-link btn-xs showDetail">...</a></div>-->
    <br>
    <div class="chat-wrapper">
      <ul class="media-list">
        {{#each chatList}}
        {{> chat}}
        {{/each}}
      </ul>


    </div>
    {{#if currentUser}}
    <div >
      <div class="bottom-bar">
        <form class="bottom-form message-form">

          <div class="bottom-form__input-wrapper">
            <div contenteditable="" autocorrect="off" class="bottom-form__input"></div>
          </div>
        </form>

      </div>
    </div>

    {{else}}
    <p>로그인이 필요합니다.</p>
    {{/if}}

  </div>
</template>
<template name="chat">
  <li class="media anim_item">
    <a class="pull-left" href="#"><img class="media-object img-rounded" src="{{author.photo}}"></a>
    <div class="media-body">
      <h4 class="media-heading">{{author.name}} <small>{{submittedMoment}}</small></h4>
      <div>{{body}}</div>
    </div>
  </li>
</template>