<template name="footer">
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>이 블로그는... <a href="http://underdogg.co.kr/posts/NSMuuDkQYQ9QQcpvg"><i class="glyphicon glyphicon-eye-open"></i></a></h3>
        <div class="row">
          <div class="col-xs-4">
            <img class="img-rounded footer-img" src="http://res.cloudinary.com/www-underdogg-co-kr/image/upload/t_media_lib_thumb/v1401758487/IMG_0523_dwdxbm.jpg">
          </div>
          <div class="col-xs-8">
            <p>작은 <strong>arm </strong>보드에서 동작하고 있습니다.</p>
            <p class="text-danger">만 지금은 임시로 다른 서버에서 동작하고 있다능 ㅠㅠ</p>
            <p><strong>Linux linaro-server</strong> 3.0.36+ #2 SMP PREEMPT Mon Jan 27 15:07:00 ICT 2014 armv7l armv7l armv7l GNU/Linux</p>
            <p>MongoDB v2.1.1 &#183; NodeJS v0.11.14 &#183; MeteorJS v0.8</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Found a bug?</h3>
        <p>Open a <a href="https://github.com/gaethug/MotherFatherBlog/issues" target="_blank" rel="external nofollow">new issue</a> on GitHub. Please search for existing issues first and make sure to include all relevant information.</p>
        <p>You simply have to <b>try it</b>. <a class="btn btn-primary" href="https://github.com/gaethug/MotherFatherBlog">View on GitHub</a></p>
      </div>
    </div>
    <hr class="dashed">
    <div class="copyright clearfix">
      <p><b>UNDERDOGGG</b> 2014</p>

    </div>
  </div>
</div>

</template>