<template name="footer">
<div class="footer">
  <div class="container">
    <div class="download">
      <span class="download__infos">You simply have to <b>try it</b>.</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary" href="https://github.com/gaethug/MotherFatherBlog">View on GitHub</a>
    </div>
    <hr class="dashed">
    <div class="row">
      <div class="col-md-6">
        <h3>Found a bug?</h3>
        <p>Open a <a href="https://github.com/gaethug/MotherFatherBlog/issues" target="_blank" rel="external nofollow">new issue</a> on GitHub. Please search for existing issues first and make sure to include all relevant information.</p>
      </div>
      <div class="col-md-6">
        <h3>이 블로그는...</h3>
        <div class="row">
          <div class="col-sm-4">
            <img class="img-rounded footer-img" src="https://lh3.googleusercontent.com/-NmzlubmWkWs/UwGReVPQb6I/AAAAAAAAGWg/NtJ2qvIjZms/w1195-h896-no/IMG_0523.JPG">
          </div>
          <div class="col-sm-8">
            <p>작은 arm 보드에서 동작하고 있습니다.</p>
            <p>Linux linaro-server 3.0.36+ #2 SMP PREEMPT Mon Jan 27 15:07:00 ICT 2014 armv7l armv7l armv7l GNU/Linux</p>
            <p>MongoDB v2.1.1</p>
            <p>MeteorJS v0.8</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="dashed">
    <div class="copyright clearfix">
      <p><b>UNDERDOGGG</b></p>

    </div>
  </div>
</div>

</template>