<template name="footer">
  <div class="footer">
    <div class="container">
      <div class="clearfix">
        <div class="footer-logo"><a class="navbar-brand" href="{{pathFor 'home'}}"><i class="fa fa-child text-warning"></i><i class="fa fa-child text-success"></i> UnderDogg</a></div>
        <dl class="footer-nav">
          <dt class="nav-title">Cuba 여행기</dt>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/MQTSHdRsqEy2HzBcT">여행의 시작 </a></dd>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/CZ7iWW7TXAJfMejRv">아바나에서 털리고 털리고 </a></dd>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/M4s2kHPtYyGh7nYdH">비냘레스 시골의 이상 </a></dd>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/oY7DBEGp4Lpxomdo8">그냥 관광의 도시 트리니다드  </a></dd>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/7nsYrbQkLfb6BRLWH">산타클라라 체를 찾아서</a></dd>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/SvQGaPQtuqSbD38Ca">마지막으로 다시 아바나</a></dd>
        </dl>

        <dl class="footer-nav">
          <dt class="nav-title">ABOUT</dt>
          <dd class="nav-item"><a href="http://www.underdogg.co.kr/posts/C2k5yu4ZmhXXbDQn8">History </a></dd>
          <dd class="nav-item"><a href="https://github.com/gaethug/MotherFatherBlog">View on GitHub</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">Found a bug?</dt>
          <dd class="nav-item">
            <p>Open a <a href="https://github.com/gaethug/MotherFatherBlog/issues" target="_blank" rel="external nofollow">new issue</a> on GitHub. Please search for existing issues first and make sure to include all relevant information.</p>
          </dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">Meteor </dt>
          <dd class="nav-item"><a href="https://www.meteor.com">공식 사이트 </a></dd>
          <dd class="nav-item"><a href="http://docs.meteor.com">공식 문서 </a></dd>
          <dd class="nav-item"><a href="https://atmospherejs.com/">라이브러리 사이트 </a></dd>
          <dd class="nav-item"><a href="http://www.meteorjs.kr/">미티어 코리아  </a></dd>
        </dl>
      </div>
      <div class="footer-copyright text-center"><b>UnderDogg</b> 2014.</div>
    </div>
  </div>
</template>