<template name="header">

  <nav class="navbar navbar-default navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">
          <i class="fa fa-child text-warning left-man logo-0"></i><i class="fa fa-child text-success right-man logo-1"></i> UnderDogg


        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <form class="navbar-form navbar-right" role="search">
          <div class="form-search search-only">
            <i class="search-icon glyphicon glyphicon-search"></i>
            <input type="text" class="form-control search-query">
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentCategory}} <b class="caret"></b></a>
            <ul class="dropdown-menu"  role="menu">
              <li class="{{activeClass}}"><a href="{{pathFor 'home'}}">전체</a></li>
              <li class="divider"></li>
              {{#each categoryList}}
              {{> categoryRow}}
              {{/each}}
            </ul>
          </li>
          {{> loginButtons}}
        </ul>

        {{#if currentUser}} <a href="{{pathFor 'postSubmit'}}" class="btn btn-warning navbar-btn">글쓰기 </a>{{/if}}
      </div>
    </div>
  </nav>
</template>

<template name="categoryRow">
  <li class="{{activeClass}}"><a href="/category/{{_id}}" class="setCategory">{{body}} <small>{{postIds.length}}</small></a></li>
</template>