<template name="navigation">
  <div id="navigation" class="well">
    <!--<h4>Category</h4>-->
    <!--<select id="popularSelect">
      <option class="">전체 보기</option>
      {{#each popularList}}
      <option>{{body}}</option>
      {{/each}}
    </select>-->
    <h4>Blog Search</h4>

    <div class="input-group">
      <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
    </div>
    <br>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">{{currentCategory}} <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {{#each popularList}}
        <li><a href="/category/{{_id}}" class="setCategory">{{body}} <small>{{postIds.length}}</small></a></li>
        {{/each}}
      </ul>
    </div>




    <!--<div class="btn-group">
      <button type="button" class="btn btn-default {{activeRouteClass 'categoryList'}}" >{{currentCategory}}</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
    </div>-->
  </div>
</template>