<template name="navigation">
  <div id="navigation" class="panel">
    <ul id="myTab1" class="nav nav-tabs nav-justified">
      <li class="active"><a href="#popular" data-toggle="tab"><i class="fa fa-star"></i></a></li>
      <li class=""><a href="#recently" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
      <li class=""><a href="#category" data-toggle="tab"><i class="fa fa-bars"></i></a></li>
    </ul>
    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade active in" id="popular">
        {{> popular_posts}}
      </div>
      <div class="tab-pane fade" id="recently">
        {{> recently_posts}}
      </div>
      <div class="tab-pane fade" id="category">
        {{> categories}}
      </div>
    </div>
  </div>
</template>