<template name="page_posts">

  <div id = "page_posts">
    <table class="table">
      <thead>
      <tr>
        <th>제목</th>
        <th>작성일</th>
      </tr>
      </thead>
      <tbody>
      {{#each pageList}}
        <tr>
          <td><a href="{{pathFor 'postPage'}}">{{title}}</a></td>
          <td>{{submittedMoment}}</td>
          <!--<td>{{submitted}}</td>-->
        </tr>
      {{/each}}

      </tbody>
    </table>
      <ul class="pagination">
        <!--<li class="previous"><a href="" >PREV</a></li>-->
        {{#each countList}}
          <li class="{{activeClass}}  page-item" data-page-number="{{index}}"><a href="">{{dispIndex}}</a></li>
        {{/each}}
        <!--<li class="next"><a href="" >NEXT</a></li>-->
      </ul>

  </div>
</template>