<template name="recently_activities">
  <div id = "recently_activities" class="well">
    <h4><i class="fa fa-history"></i> history <span class="pull-right pointer showDetail"><i class="fa fa-ellipsis-v"></i></span> </h4>
      {{#each activityList}}
      {{> recently_activity}}
      {{/each}}
    <!--<p class="activity-item anim_item text-center"> <button class="btn btn-xs btn-link"> <i class="fa fa-ellipsis-h"></i> </button> </p>-->
  </div>
</template>
<template name="recently_activity">
  <a href="/posts/{{postId}}" class="none_style ">
    <p class="activity-item anim_item">
      <span class="pull-right"><small>{{timeAgo}}</small></span>
      <i class="{{activity.icon}}"></i> {{activity.message}} <span class="text-muted">{{creator.name}}-{{description}}</span>
    </p>
  </a>
</template>