<template name="recently_activities">
  <div id = "recently_activities" class="well">
    <h4><i class="fa fa-history fa-spin"></i> history <span class="pull-right pointer showDetail"><small><i class="fa fa-ellipsis-h"></i></small></span> </h4>
      {{#each activityList}}
      {{> recently_activity}}
      {{/each}}
    <!--<p class="activity-item anim_item text-center"> <button class="btn btn-xs btn-link"> <i class="fa fa-ellipsis-h"></i> </button> </p>-->
  </div>
</template>
<template name="recently_activity">
  <p class="activity-item anim_item">
    <span class="pull-right"><span class="badge {{timeClass}} " ><i class="{{activity.icon}}"></i></span></span>
    <a href="/posts/{{postId}}" class="none_style ">{{timeAgo}}.<small>{{creator.name}}</small>-{{description}}</a>
  </p>
</template>