<template name="recently_activities">
  <div id = "recently_activities" class="well">
    <h4><i class="fa fa-child text-warning"></i><i class="fa fa-child text-success"></i> 최근 활동 </h4>
      {{#each activityList}}
      {{> recently_activity}}
      {{/each}}
  </div>
</template>
<template name="recently_activity">
  <p class="activity-item">
    <span class="pull-right"><small>{{timeAgo}}</small><!--<small><img class="img-rounded" src="{{creator.photo}}"> {{creator.name}}</small>--></span>
    <a href="/posts/{{postId}}" class="none_style"> <span class="badge {{timeClass}}"><i class="{{activity.icon}}"></i></span> {{activity.message}} <small>by {{creator.name}}</small> </a>

  </p>
</template>