<template name="search">
  <div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
      <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
    </div>
    <br>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default newPost {{activeRouteClass 'home' 'newPosts'}}">
        <input type="radio" name="options" id="option1" class=""> 생성일 순
      </label>
      <label class="btn btn-default bestPost {{activeRouteClass 'bestPosts'}}">
        <input type="radio" name="options" id="option2" class=""> 엠지 많은 순
      </label>
    </div>
    <br>
    <h4>Category</h4>
    <div class="btn-group">
      <button type="button" class="btn btn-default {{activeRouteClass 'categoryList'}}" >카테고으리 </button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        {{#each popularList}}
        <li><a href="/category/{{_id}}" class="setCategory">{{body}} <small>{{postIds.length}}</small></a></li>
        {{/each}}
      </ul>
    </div>

  </div>
</template>