<template name="search">
  <div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
      <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
    </div>
    <!--<div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default newPost {{activeRouteClass 'home' 'newPosts'}}">
        <input type="radio" name="options" id="option1" class=""> 생성일 순
      </label>
      <label class="btn btn-default bestPost {{activeRouteClass 'bestPosts'}}">
        <input type="radio" name="options" id="option2" class=""> 엠지 많은 순
      </label>
    </div>
    <br>-->
  </div>
</template>