<template name="attach_modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeBtn" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">첨부하기</h4>
        </div>
        <div class="modal-body">
          <br>
          <div class="panel">
            <ul id="myTab1" class="nav nav-tabs nav-justified">
              <li class="active"><a href="#ImageUrl" data-toggle="tab"><i class="fa fa-picture-o"></i> URL Image</a></li>
              <li ><a href="#ImageUpload" data-toggle="tab"><i class="fa fa-picture-o"></i> Upload Image</a></li>

              <li class=""><a href="#YoutubeUrl" data-toggle="tab"><i class="fa fa-youtube-square"></i> Youtube</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="ImageUpload">
                {{#with stuff}}
                {{#cloudinary_upload callback="save_url"}}
                <input type="file">

                {{#if c_upload_successful}}
                <p>Success</p>
                <img width="250" class="previewImage" src="{{c_upload_successful.url}}">
                {{/if}}
                {{c_upload_successful}}
                {{#if c_upload_failed}}
                <p>Failed</p>
                {{/if}}
                {{/cloudinary_upload}}
                {{/with}}
              </div>
              <div class="tab-pane fade active in" id="ImageUrl">
                <input type="url" class="form-control" id="ImageUrlInput" placeholder="이미지 URL">
              </div>
              <div class="tab-pane fade" id="YoutubeUrl">
                <div role="form">
                  <div class="input-group">
                    <span class="input-group-addon">http://www.youtube.com/watch?v=</span>
                    <input type="text" class="form-control" placeholder="나머지 URL" id="YoutubeUrlInput">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeBtn">닫기</button>
          <button type="button" class="btn btn-success okBtn">확인</button>
        </div>
      </div>
    </div>
  </div>
</template>