<template name="attach_modal">
  <div class="modal" id="attach_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeBtn" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">첨부하기</h4>
        </div>
        <div class="modal-body">
          <br>
          <div class="panel">
            <ul id="myTab1" class="nav nav-tabs nav-justified">
              <li class="active"><a href="#ImageUpload" data-toggle="tab"><i class="fa fa-picture-o"></i> Upload Image</a></li>
              <li ><a href="#ImageUrl" data-toggle="tab"><i class="fa fa-picture-o"></i> URL Image</a></li>
              <li ><a href="#YoutubeUrl" data-toggle="tab"><i class="fa fa-youtube-square"></i> Youtube</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane active fade in" id="ImageUpload">

                <div class="iamge-upload">
                  <h5><i class="fa fa-upload"></i> 직접 업로드</h5>

                  {{#with stuff}}

                    {{#c_upload_stream callback="save_url"}}
                    <span class="btn btn-success fileinput-button">
                        <i class="fa fa-picture-o"></i>
                        <span>이미지 선택</span>
                        <input type="file">
                    </span>
                    <br>
                      <!--{{#if c_upload_successful}}
                          <img class="previewImage" src="{{c_upload_successful.url}}">
                      {{/if}}-->

                    <!--{{#if c_upload_failed}}
                    <div class="text-center">
                      <p class="text-danger">업로드 실패.</p>
                      <p class="text-danger">다시 시도해주세요.</p>
                    </div>
                    {{/if}}-->
                    <!--<img class="previewImage" src="{{secure_url}}">-->
                    {{/c_upload_stream}}
                  {{/with}}
                  {{#each c.uploading_images}}
                  <p>{{percent_uploaded}}</p>
                  {{/each}}

                  <!--<h3>Saved images</h3>
                  {{#each saved_images}}
                  <br>
                  <img class="previewImage" src="{{c.url}}">
                  <img class="previewImage" src="{{secure_url}}">
                  <img class="previewImage" src="{{c.url public_id format=format effect='blur:300' angle=10}}">
                  <button class="delete">Delete</button>
                  {{/each}}-->


                </div>
                <br>

                <!--{{#each c.uploading_images}}
                <p>{{percent_uploaded}}</p>
                <p>{{total_uploaded}}</p>
                {{/each}}-->

                <div class="image-list">
                  <h5><i class="fa fa-list"></i> 최근 저장</h5>
                  <div class="row">
                    {{#each saved_images}}
                    <div class="col-xs-2 image-wrapper">
                      <div class="image-item">
                        <img  src="{{c.url public_id format=format width='100' height='100' crop='thumb'}}">
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>


              </div>
              <div class="tab-pane  fade in" id="ImageUrl">
                <input type="url" class="form-control" id="ImageUrlInput" placeholder="이미지 URL">
              </div>
              <div class="tab-pane fade in" id="YoutubeUrl">
                <div role="form">
                  <div class="input-group">
                    <span class="input-group-addon">http://www.youtube.com/watch?v=</span>
                    <input type="text" class="form-control" placeholder="나머지 URL" id="YoutubeUrlInput">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeBtn">닫기</button>
          <button type="button" class="btn btn-success okBtn">확인</button>
        </div>
      </div>
    </div>
  </div>
</template>