<template name="calendar_modal">
  <div class="modal" id="calendar_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeBtn" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>칼렌다 테스트 </h4>
        </div>
        <div class="modal-body">
          <div class="calendar">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeBtn">닫기</button>
        </div>
      </div>
    </div>
  </div>
</template>