<template name="category_modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeBtn" data-dismiss="modal" aria-hidden="true">×</button>
          <h4><i class="fa fa-comments-o"></i> 카테고리 추가하기</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="categoryText" placeholder="카테고리 이름">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeBtn">닫기</button>
          <button type="button" class="btn btn-success okBtn">확인</button>
        </div>
      </div>
    </div>
  </div>
</template>