<template name="chat_detail_modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeBtn" data-dismiss="modal" aria-hidden="true">×</button>
          <h4><i class="fa fa-comments-o"></i> Message</h4>
        </div>
        <div class="modal-body">
          {{#if currentUser}}
          <div class="input-group">
            <input type="text" class="form-control message">
                        <span class="input-group-btn">
                            <button class="btn btn-default writeBtn" type="button">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </span>
          </div>
          {{else}}
          <p>로그인이 필요합니다.</p>
          {{/if}}
          <br>
          <div>
            <ul class="media-list">
              {{#each chatList}}
              {{> chat_item}}
              {{/each}}
            </ul>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeBtn">닫기</button>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="chat_item">
  <li class="media anim_item">
    <a class="pull-left" href="#"><img class="media-object img-rounded" src="{{author.photo}}"></a>
    <div class="media-body">
      <h4 class="media-heading">{{author.name}} <small>{{submittedMoment}}</small></h4>
      <div>{{body}}</div>
    </div>
  </li>
</template>