@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    background-color: rgb(241, 242, 246);
    padding-top: 70px;
}
.footer h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color:#e6e9ed;
}
.footer .download__infos {
    font-size: 18px;
    color:#e6e9ed;
}
.footer p {
    color:#aab2bd;
}
.footer img {
    width:100%
}
span.glyphicon{top:3px;}
i.glyphicon{top:1px;}
.pointer {cursor: pointer}
hr{border-top: 1px solid #e6e9ed;}
hr.dashed {
    border-top: 1px dashed #656D78;
}
hr.dashed_gubun {
    border-top: 2px solid  #CCD1D9
}
.content_pen_editor{
    outline: none;
}
.content-wrapper blockquote{
    margin-left: 25px;
}
.anim_item{
    position:relative;
    transition:all 300ms 0ms ease-in;
}
.alert{
    position: fixed;
    top: 45%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 1020;
}
#iron-router-progress {
    background-color : #F5F7FA;
    box-shadow       : 0 0 5px #E6E9ED;
}
#iron-router-progress.spinner:before {
    border-color : #F5F7FA;
}
.none_style{text-decoration: none !important; color: inherit}
.none_style:hover{color: inherit}
.navbar-custom {
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    z-index: 1010;
}

.label {
    padding: .5em .6em .3em;
}

.badge {
    padding: .3em .6em .4em;
}

.menu-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
.media-list .media .media-object{
    width: 44px;
    height:44px;
}



#postSubmit{}
#postSubmit .content-wrapper{
    min-height: 400px;
}
#postSubmit .content-wrapper .content img{
    max-width: 100%;
}
#postEdit .content-wrapper{
    min-height: 400px;
}
#postEdit .content-wrapper .content img{
    max-width: 100%;
}
#postItem {
}
#postItem .postTitle {
    margin-top: 0;
}
#postItem .author_name {}
#postItem .author_name img{width: 18px; height: 18px;}
#postItem .content-wrapper img {
    max-width: 100%;
}
#postsList .jumbotron{
    position:relative;
    transition:all 300ms 0ms ease-in;
}
#postsList .jumbotron .author_name {}
#postsList .jumbotron .author_name img{width: 18px; height: 18px;}
#postsList .content-title {
    max-height: 112px;
    overflow: hidden;
    /*text-overflow: ellipsis; white-space: nowrap; overflow: hidden;*/
}
#postsList .conetent-image{
    max-height: 280px;
    overflow: hidden;
}
#postsList .conetent-image img{
    display: block;
    width: 100%;
    height: auto;
}
#postsList .content-preview {
    max-height: 80px;
    overflow: hidden;
}

#notifications{
    /*position: fixed;
    z-index: 1040;*/
}
#notifications .alert-photo{
    width: 44px;
    height: 44px;
}
#errors{
    /*position: fixed;
    z-index: 1030;*/
}

#commentSubmit{}
#commentSubmit .comment-wrapper{min-height: 200px;}
#commentSubmit .comment-wrapper #content{min-height: 80px;}

#categories{}
#categories .category-item{
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
#popular_posts{}
#popular_posts .post-item{
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
#popular_posts .badge {
   float:right;
}
#recently_posts{}
#recently_posts .post-item{
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
#recently_activities{}
#recently_activities .text-center{
    font-size: 6px;
    height: 8px;
}
#recently_activities .activity-item{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#recently_activities .activity-item img{width: 18px; height: 18px;}

#navigation{}
#navigation .btn-group{width: 100%}

#modals {}
#modals .modal{display: block;}
.modal-backdrop{display: none;}
#users .name-item{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#users .name-item .nametag{margin-bottom: 8px;}
#users .name-item img{width: 18px; height: 18px;}

#chats {position: relative;}
#chats .chat-wrapper{padding-bottom: 32px;}
#chats .bottom-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    min-height: 4.6rem;
    text-align: left;
}
#chats .bottom-bar .bottom-form__input-wrapper{
    border: 1px solid #ddd;
    -webkit-border-radius: .6rem;
    border-radius: .6rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
}
#chats .bottom-bar .bottom-form__input{
    display: block;
    width: 100%;
    resize: none;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: .5rem 5.5rem .5rem .5rem;
    color: #333;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: 0;
    overflow: auto;
    position: relative;
    z-index: 7;
    max-height: 18.3rem;
    min-height: 3.2rem;
}


/*MODAL*/
#category_modal{}
#category_modal .no-line{border:none; box-shadow:none; -webkit-box-shadow:none;}
#category_modal .no-line .list-group-item{border:none;}


#attach_modal{}
#attach_modal .previewImage{width: 100%;}
#attach_modal .image-list .row{margin-left:-5px; margin-right: -5px;}
#attach_modal .image-list .image-wrapper{padding-left:5px; padding-right: 5px;}
#attach_modal .image-list .image-item{padding:4px; cursor: pointer; background: #E6E9ED;}
#attach_modal .image-list .image-item:hover{background: #967ADC;}
#attach_modal .image-list .image-wrapper img{width: 100%;height: 80px;}

#chat_detail_modal{}
#chat_detail_modal .chat-wrapper{max-height: 400px; overflow-y:scroll;}
#chat_detail_modal .bottom-bar{position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background: #f9f9f9;
    min-height: 4.6rem;
    -webkit-transform: translate3d(0,0,0);
    text-align: left;
}
#chat_detail_modal .bottom-bar .bottom-form__input-wrapper{
    border: 1px solid #ddd;
    -webkit-border-radius: .6rem;
    border-radius: .6rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin: 6px 10px 6px 10px;
}
#chat_detail_modal .bottom-bar  .bottom-form__input{
    display: block;
    width: 100%;
    resize: none;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: .5rem 5.5rem .5rem .5rem;
    color: #333;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: 0;
    overflow: auto;
    position: relative;
    z-index: 7;
    max-height: 18.3rem;
    min-height: 3.2rem;
}
/*wysywic editor modal*/
.bootstrap-wysihtml5-insert-link-modal label{padding-left:20px}

/*medium-editor*/
.medium-editor-placeholder {
    position: relative;
    margin:0;
    padding:0;
}

.medium-editor-placeholder:after {
    position: absolute;
    top: 0px;
    left: 0;
    content: attr(data-placeholder);
    color:#434a54;
    font-style: normal;
}

/*input-file fake btn*/
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}