@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    background-color: rgb(241, 242, 246);
    padding-top: 70px;
}
.pointer {cursor: pointer}
hr.dashed {
    border-top: 1px dashed #ccc;
    border-top: 1px dashed #AAB2BD
}
hr.lined {
    border-top: 1px solid  #AAB2BD
}
.content-wrapper blockquote{
    margin-left: 25px;
}
#iron-router-progress {
    background-color : #CCD1D9;
    box-shadow       : 0 0 5px #AAB2BD;
}
#iron-router-progress.spinner:before {
    border-color : #CCD1D9;
}
.none_style{text-decoration: none !important; color: inherit}
.none_style:hover{color: inherit}
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    z-index: 1045;
    opacity: .9;
}

.btn i{top:3px;}

.label {
    padding: .5em .6em .3em;
}

.badge {
    padding: .3em .6em .4em;
}

.menu-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}

#postSubmit{}
#postSubmit .content-wrapper{
    min-height: 400px;
}
#postEdit .content-wrapper{
    min-height: 400px;
}

#postItem {
    border-bottom: 1px dashed #AAB2BD;
}
#postItem .postTitle {
    margin-top: 0;
}

#postItem .content-wrapper img {
    max-width: 100%;
}
#postList {}

#postsList .jumbotron {
    cursor: pointer;
}
#postsList .content-title {
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
#postsList .conetent-image{
    max-height: 280px;
    overflow: hidden;
}
#postsList .conetent-image img{
    display: block;
    width: 100%;
    height: auto;
}
#postsList .content-preview {
    max-height: 80px;
    overflow: hidden;
}

#notifications{
    position: fixed;
    z-index: 1040;
}

#errors{
    position: fixed;
    z-index: 1030;
}



/*wysywic editor modal*/
.bootstrap-wysihtml5-insert-link-modal label{padding-left:20px}

/*medium-editor*/
.medium-editor-placeholder {
    position: relative;
    margin:0;
    padding:0;
}

.medium-editor-placeholder:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-placeholder);
    font-style: italic;
}