@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    background-color: rgb(241, 242, 246);
    padding-top: 70px;
}
span.glyphicon{top:3px;}
i.glyphicon{top:1px;}
.pointer {cursor: pointer}
hr{border-top: 1px solid #CCD1D9;}
hr.dashed {
    border-top: 1px dashed #656D78;
}
hr.dashed_gubun {
    border-top: 2px solid  #CCD1D9
}
.content_pen_editor{
    outline: none;
}
.content-wrapper blockquote{
    margin-left: 25px;
}
.anim_item{
    position:relative;
    transition:all 300ms 0ms ease-in;
}
#iron-router-progress {
    background-color : #F5F7FA;
    box-shadow       : 0 0 5px #E6E9ED;
}
#iron-router-progress.spinner:before {
    border-color : #F5F7FA;
}
.none_style{text-decoration: none !important; color: inherit}
.none_style:hover{color: inherit}
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    z-index: 1045;
}

.label {
    padding: .5em .6em .3em;
}

.badge {
    padding: .3em .6em .4em;
}

.menu-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
.media-list .media .media-object{
    width: 44px;
    height:44px;
}



#postSubmit{}
#postSubmit .content-wrapper{
    min-height: 400px;
}
#postSubmit .content-wrapper .content img{
    max-width: 100%;
}
#postEdit .content-wrapper{
    min-height: 400px;
}
#postEdit .content-wrapper .content img{
    max-width: 100%;
}
#postItem {
}
#postItem .postTitle {
    margin-top: 0;
}

#postItem .content-wrapper img {
    max-width: 100%;
}
#postsList .jumbotron{
    position:relative;
    transition:all 300ms 0ms ease-in;
}

#postsList .content-title {
    max-height: 112px;
    overflow: hidden;
    /*text-overflow: ellipsis; white-space: nowrap; overflow: hidden;*/
}
#postsList .conetent-image{
    max-height: 280px;
    overflow: hidden;
}
#postsList .conetent-image img{
    display: block;
    width: 100%;
    height: auto;
}
#postsList .content-preview {
    max-height: 80px;
    overflow: hidden;
}

#notifications{
    /*position: fixed;
    z-index: 1040;*/
}
#notifications .alert-photo{
    width: 44px;
    height: 44px;
}
#errors{
    /*position: fixed;
    z-index: 1030;*/
}



#popularCategories{}

#popularCategories .category-item{
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
#popularPosts{}
#popularPosts .post-item{
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
#navigation{}
#navigation .btn-group{width: 100%}

#modals {}
#modals .modal{display: block;}

/*wysywic editor modal*/
.bootstrap-wysihtml5-insert-link-modal label{padding-left:20px}

/*medium-editor*/
.medium-editor-placeholder {
    position: relative;
    margin:0;
    padding:0;
}

.medium-editor-placeholder:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-placeholder);
    font-style: italic;
}
