<template name="postEdit">
  <div id="postEdit">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-md-12">
        <input type="text" name="title" id="title"  class="form-control"  placeholder="제목" value="{{title}}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <select class="form-control" id="selectedCategory">
          {{#each categories}}
            <option value="{{_id}}" selected="{{isSelected}}">{{body}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-4">
          <button class="btn btn-default btn-block showCategoryModal" type="button">새로운 카테고리</button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <div class="well well-lg content-wrapper">
          <div id="content">
          </div>
          <div class="pull-right">
            <button class="btn btn-xs btn-info showModal" type="button"><span class="glyphicon glyphicon-picture"></span></button>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">

        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <input type="submit" value="Edit" class="btn btn-warning"/>
          </div>
          <div class="btn-group">
            <a class="btn btn-danger delete" href="#">Delete</a>
          </div>
        </div>
        <br>

      </div>
    </div>
  </form>
  </div>
</template>