<template name="postEdit">
  <div id="postEdit">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-md-12">
        <input type="text" name="title" id="title"  class="form-control"  placeholder="제목" value="{{title}}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <select class="form-control" id="selectedCategory" value="{{category}}">
          {{#each categories}}
          <option>{{body}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="createCategory" id="createCategory" placeholder="새로운 카테고리">
            <span class="input-group-btn">
              <button class="btn btn-default createCategoryBtn" type="button">Add</button>
            </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <div class="well well-lg content-wrapper">
          <div id="content">
          </div>
          <div class="pull-right">
            <button class="btn btn-xs btn-info showModal" type="button"><span class="glyphicon glyphicon-picture"></span></button>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <input type="submit" value="Edit" class="btn btn-warning"/>
        <a class="btn btn-danger delete" href="#">Delete</a>
      </div>
    </div>
  </form>
  </div>
</template>