<template name="postItem">
  <div class="post" id="postItem">
    <h3><a href="{{pathFor 'postPage'}}" class="none_style">{{title}}</a></h3>

    <!--<h3 class="postTitle"></h3>-->
    <p>
      {{submittedMoment}} &nbsp; {{commentsCount}} comments  &nbsp; submitted by <strong>{{author}}</strong>

      {{#if ownPost}}
      <a href="{{pathFor 'postEdit'}}"><span class="badge badge-warning"><i class="glyphicon glyphicon-wrench"></i> 수정</span></a>

      {{/if}}
    </p>
    <div class="well well-lg content-wrapper">
      {{{content}}}
    </div>
  </div>
</template>