<template name="postItem">
  <div class="post" id="postItem">

    <h3><a href="{{pathFor 'postPage'}}" class="none_style">{{title}}</a></h3>
    <div class="pull-right">
      <span class="text-muted pointer"><i class="glyphicon glyphicon-chevron-left goList"></i></span>
      <span class="text-muted pointer"><i class="glyphicon glyphicon-chevron-down goComment"></i></span>
      {{#if ownPost}}
      <span class="text-muted pointer"><i class="glyphicon glyphicon-wrench goEdit"></i></span>
      {{/if}}
    </div>
    <p>
      {{submittedMoment}} &nbsp; {{commentsCount}} comments <i class="glyphicon glyphicon-search"></i>  &nbsp; submitted by <strong>{{author}}</strong>
    </p>
    <div class="content-wrapper">
      {{{content}}}
    </div>
    <br>
  </div>
</template>