<template name="postsList">
  <div id="postsList">

    {{#each posts}}
        {{> postStrip}}
    {{/each}}
    {{#if nextPath}}
        <a class="btn btn-block btn-info loadMore">Load more</a>
        <br>
        <br>
    {{/if}}
  </div>
</template>
<template name="postStrip">
  <div class="jumbotron anim_item">
    <div class="jumbotron-contents">
      <span class="badge badge-default">{{category.body}}</span>
      <h1 class="content-title">
        {{title}}
      </h1>

      <p class="lead">by {{author.name}}</p>
      <hr class="">
      <p>

        <span class="glyphicon glyphicon-time"></span> Posted on {{submittedMoment}} &nbsp; <span class="glyphicon glyphicon-comment"></span> {{commentsCount}}
        &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span> {{votes}}
      </p>
      <hr class="">
      {{#if stripTag.img}}
      <div class="conetent-image">
        <img src="{{stripTag.img}}">
      </div>
      <br>
      {{/if}}
      <p class="content-preview">{{stripTag.text}}</p>
      <a class="btn btn-primary readMore"  href="{{pathFor 'postPage'}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</template>