<template name="postPage">
  <div id="postPage">
  {{> postItem}}

    <h2 class="menu-title comment-area"> Comments <span class="glyphicon glyphicon-comment"></span></h2>
    <ul class="media-list content-wrapper">
      {{#each comments}}
      {{> comment}}
      {{/each}}
    </ul>
  {{#if currentUser}}
  {{> commentSubmit}}
  {{else}}
    <div class="well well-lg content-wrapper">
      <p><strong>로그인 후 이용 가능합니다.</strong></p>
    </div>
  {{/if}}

  </div>
</template>

<template name="postItem">
  <div class="post" id="postItem" >
    <div class="jumbotron">
      <div class="jumbotron-contents" itemscope itemtype="http://schema.org/BlogPosting">
        <span class="badge badge-default">{{category.body}}</span>
        <h1 class="content-title" itemprop="name">
          <a class="none_style" rel="bookmark" itemprop="url" href="http://www.underdogg.co.kr/posts/{{_id}}">{{title}}</a>
        </h1>

        <p class="lead author_name" rel="author" itemprop="author"  title="{{author.name}}"><img class="img-rounded" src="{{author.photo}}">  {{author.name}} 작성. </p>
        <hr class="">

        <div class="row">
          <div class="col-md-6">
            <span class="glyphicon glyphicon-time" title="{{submitted}}" itemprop="datePublished"></span> {{submittedMoment}}
          </div>
          <div class="col-md-6">
            <span class="glyphicon glyphicon-comment"></span> {{pluralize commentsCount 'comment'}}  &nbsp;
            <span class="fa fa-thumbs-o-up"></span> {{pluralize votes 'like'}}
            <div class="pull-right">
              <button class="btn btn-default btn-xs goComment" type="button"><span class="glyphicon glyphicon-chevron-down "></span></button>
              {{#if ownPost}}
              <button class="btn btn-default btn-xs goEdit" type="button"><span class="glyphicon glyphicon-wrench "></span></button>
              {{/if}}
            </div>
          </div>
        </div>

        <!--<p>
          <span class="glyphicon glyphicon-time"></span> Posted on {{submittedMoment}} &nbsp; <span class="glyphicon glyphicon-comment"></span> {{commentsCount}}
          &nbsp;<span class="fa fa-thumbs-o-up"></span> {{votes}}
        <div class="pull-right">
          <button class="btn btn-default btn-xs goComment" type="button"><span class="glyphicon glyphicon-chevron-down "></span></button>
          {{#if ownPost}}
          <button class="btn btn-default btn-xs goEdit" type="button"><span class="glyphicon glyphicon-wrench "></span></button>
          {{/if}}
        </div>
        </p>-->
        <hr class="">

        <div class="content-wrapper" itemprop="articleBody">
          {{{dynamicConent}}}
        </div>
        <hr class="">
        <button type="button" class="btn btn-primary goList">목록 <span class="glyphicon glyphicon-chevron-left"></span></button>
        <div class="pull-right">
          <button type="button" class="upvote btn {{upvotedClass}}"><i class="glyphicon fa fa-thumbs-o-up"></i> 엠지</button>
          &nbsp;
          <div class="btn-group">
            <a class="btn btn-default" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.underdogg.co.kr/posts/{{_id}}"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-default" target="_blank" href="https://plus.google.com/share?url=http://www.underdogg.co.kr/posts/{{_id}}"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-default" target="_blank" href="https://twitter.com/share?url=http://www.underdogg.co.kr/posts/{{_id}}&via=TWITTER_HANDLE&text={{title}}"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>