<template name="postSubmit">
  <div id="postSubmit">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-md-12">
          <input type="text" name="title" id="title"  class="form-control"  placeholder="제목">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <select class="form-control" id="selectedCategory">
            <option selected="selected" disabled="disabled">카테고리 선택</option>
            {{#each categories}}
              <option value="{{_id}}">{{body}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default btn-block showCategoryModal" type="button">새로운 카테고리</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="well well-lg content-wrapper">
            <div id="content" class="content">
            </div>
          </div>
          <div>
            <button class="btn btn-default btn-block showImageModal" type="button"><i class="fa fa-paperclip"></i> 첨부 </button>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-12">
          <input type="submit" value="글쓰기" class="btn btn-primary btn-block"/>
          <br>
        </div>
      </div>
    </form>
  </div>
</template>