<template name="postSubmit">
  <div id="postSubmit">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-md-12">
          <input type="text" name="title" id="title"  class="form-control"  placeholder="제목">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="well well-lg content-wrapper">
            <div id="content"></div>
          </div>

          <!--<div>
            <button class="btn btn-success btn-block showImageModal" type="button"><i class="fa fa-paperclip"></i> 첨부 </button>
          </div>-->

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <select class="form-control" id="selectedCategory">
            <option selected="selected" disabled="disabled">카테고리 선택</option>
            {{#each categories}}
            <option value="{{_id}}">{{body}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default btn-block showCategoryModal" type="button">카테고리 관리</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input type="text" class="form-control keywordText" placeholder="키워드 예)이호성, 잘생김, 무말랭이">
        </div>
      </div>
      <br>



      <div class="form-group">
        <div class="col-md-12">
          <input type="submit" value="글쓰기" class="btn btn-primary btn-block"/>
          <br>
        </div>
      </div>
    </form>
  </div>
</template>